
   
[Server]
# Accept connections on this subnet (default accepts on all)
HttpHost = "0.0.0.0"

# IP ports to listen on
HttpPort = 7000
# HttpsPort = 9001

# HTTPS configuration - TLS server certificate full chain and key
# If these are not specified, the TLS server will not be started
# TlsServerCertificateFile = ""
# TlsServerPrivateKeyFile = ""

# Advertise URLs relative to this server name and path
# The default is to look this up from incoming request headers
# Note: do not add a trailing slash.
#    UrlBase = "http://localhost:9000"

# String to return for Access-Control-Allow-Origin header
#    CORSOrigins = "*"

# set Debug to true to run in debug mode (can also be set on cmd-line)
#    Debug = true

# Maximum duration for reading entire request (in seconds)
ReadTimeoutSec = 5

# Maximum duration for writing response (in seconds)
# Also controls maximum time for processing request
WriteTimeoutSec = 30

[Metadata]
# Title for this service
#Title = "wms_animator"
# Description of this service
#Description = "ICPAC WMS Animator Service"

[Wms]
FontPath = "/app/fonts/Fira_Sans/FiraSans-Regular.ttf"